{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "semi": true,
  "insert_new_line": false,
  "singleQuote": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    }
  ]

}